.itemContainer{
    width: 300px;
    padding-bottom: 20px;
    margin: 20px ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.itemImg{
    max-width: 100%;
    height: auto;
}

.itemContentContainer{
    display: flex;
    justify-content: center;
}

.itemContent{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold ;
}

.itemButtonContainer{
    display: flex;
    justify-content: center;
}

button{
    padding: 10px;
    font-size: 0.9em;
    border: none;
    background-color: #1A5319;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}